/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background:#434343;
}

/* Header styles */
h1 {
  margin-bottom: 20px;
}

/* Leaderboard styles */
ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
li .inner {
  background: #fff;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 10px;
    overflow: hidden;
}
.inneruser {
  display: flex;
  align-items: center;
  width: 100%;
}
.name {
  padding: 10px;
  font-weight: bold;
}

.highlight {
  background-color: #ffc107;
}

.position {
  width: 84px;
  margin-right: -10px;
  font-size: 71px;
  text-align: right;
  font-weight: bold;
  color: rgb(235 228 255 / 66%);
}
.imgwrap {
  height: 0;
  width: 21%;
  margin-bottom: 0;
  overflow: hidden;
  padding-bottom: 23%;
  padding-top: 0;
  position: relative;
}
li img {
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  object-fit: cover;
}
.score {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  background: radial-gradient(circle, rgb(106 83 169) 0%, rgb(24 18 39) 100%);
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  min-width: 80px;
  
}
.namewrap {
  width: 100%;
}

.updated {
  animation-name: cardwobble;
  animation-duration: 500ms;
}

@keyframes cardwobble {
  0%   {transform:scale(1.0)}
  50%  {transform:scale(1.1)}
  100% {transform:scale(1.0)}
}

li:first-child {
  .inner {
    box-shadow: 0px 0px 45px #ffd12d;
  }
  .score {
    background: radial-gradient(circle, rgb(127 96 34) 0%, rgb(2 1 0) 100%);
    color: #ffe455;
}
}

li:nth-child(n+6) {
  margin-bottom: 10px;
  width: 75%;
   & .position {
    font-size: 24px;
    margin-right: -1px;
   }
   & .imgwrap {
    width:0px;
    padding-bottom: 0%;
   }
   & .score {
    font-size:20px;
    min-width: 68px;
   }
   & .name {
    font-size: 12px;
   }
}